/*General Styling*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	height: 100%;
    margin: 0;
}
body{
	width: 100%; /*Remove horizontal margins from parent element*/
	height: 100%; /*Remove vertical margins from parent element*/
	font-size: clamp(18px, 3vh, 32px);
	display: flex; /*Structures the content to fit in a flexbox*/
	flex-direction: column; /*Structures the flexbox's content vertically*/
    margin: 0;
    min-height: 100vh;
    
	/*Color*/
	background-color: #d5ba98;
    font-family: 'Inter', sans-serif;
}

header, footer{
	min-height: 10%;	
	width: 100%;
	background-color: #063a26;
	color: #7aac69;
}

p{
    font-size: clamp(1px, 1.45vw, 64px);
}
footer{
    min-height: 15%;
    display: flex;
    justify-content: flex-end;
    padding: 0% 5%;
    margin: 0;
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #a3da91;
}
.footer-content a, p{
    font-size: clamp(1px, 1.5vw, 64px);
}

.center-text{
    text-align: center;
}

main{
	flex: 1; /*Extends the content to fit the size of the screen if the content is too little*/
}
nav{height: 1px;
	display: flex;
	justify-content: horizontal;
	align-items: center;
	height: 100%;
}
a{
	text-decoration: none;
	font-weight: bold;
}
a:link{
	color: #a3da91;
}
a:visited{
	color: #b3e6a2;
}
a:hover{
	color: #8ac776;
}
a:active{
	color: #67a951;
}

.portfolio-links{
    margin-left: auto;
	padding-right: 3%;
	color: white;
}

h1{
	font-size: clamp(18px, 3.5vw, 128px);
}

h1, h2, h3, h4{
    font-family: 'Open Sans', sans-serif;
}

/*Home Page Styling*/
.intro-header{
    /*Width Settings*/
    min-width: 50%;
    max-width: 70%;

    /*Alignment to other elements*/
    margin: 1%;

    /*Internal element alignment*/
    display: flex;
    justify-content: center;
    border-radius: clamp(3px, 3.5vw, 15px);
    background-color: #a39264;
    align-self: center;
    color: #f0ebd7
}

.content-section{
    background-color: #f0ebd7;
    margin: 1% 5%;
    padding: 1%;
    display: flex;
    justify-content: horizontal;
    align-items: flex-start;
    border-radius: clamp(3px, 3.5vw, 15px);
    flex: 1;
    height: auto;
}
.content-section img{
    width: 45%;
    height: auto;
    border-radius: clamp(3px, 3.5vw, 15px);
    border: 2px solid black;
}
.vertical-bar{
    border-left: 2px solid black;
    margin: 1%;
}

.content{
    flex: 0.95;
    color: #605434
}

.content h1{
    font-size: clamp(32px, 3.5vw, 128px);
    display: flex;
    justify-content: center;
}
.content h2{
    font-size: clamp(32px, 2.5vw, 128px);
}
.content h4{
    font-size: clamp(5px, 1.55vw, 64px);
}

.content hr{
    border-top: 2px solid black;
    margin: 1% 10%;
}
.content p{
    margin: 2% 0%;
    font-size: clamp(1px, 1.45vw, 64px);
}

.content ul{
    margin: 0 6%;
    font-size: clamp(1px, 1.45vw, 64px);
}

.content li{
    margin-bottom: 1%;
}

.list-double-column{
    margin: 0 auto;
    width: 50%;
    column-count: 2;
    column-gap: 30%;
    font-size: clamp(1px, 1.25vw, 64px);
}

/*Work Experience Page*/
.button-container{
    display: flex;
    flex-direction: Horizontal;
    justify-content: center;
    column-gap: 1%;
    margin: 1% 0;
}

.work-button{
	background-color: #0B4D04;
	color: white;
    width: auto;
	height: clamp(18px, 4vh, 512px);
	font-size: clamp(5px, 1.3vw, 32px);
	border-radius: 6px;
    padding: 0% 1%;
    text-align: center;
}
.work-button:hover{
	background-color: #0F7007;
}
.work-container{
    margin: 1% 4%;
    display: none;
    flex-direction: column;
    background-color: #f0ebd7;
    color: #605434;
    gap: 1%;
    border-radius: 12px;

    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    pointer-events: none;

    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}
.work-container.active{
    display: flex;

    opacity: 1;
    visibility: visible;
    transform: translateY(0);

    pointer-events: auto;
}
.work-container h3{
    text-align: center;
}
.work-metadata h3{
    font-size: clamp(5px, 2vw, 64px);
}
.work-metadata{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 0%;
}
.work-content{
    background-color: #f0ebd7;
    margin: 1% 5%;
    padding: 1%;
    display: flex;
    justify-content: horizontal;
    align-items: flex-start;
    border-radius: clamp(3px, 3.5vw, 15px);
    flex: 1;
    height: auto;
}
.technology-container{
    display: flex;
    justify-content: center;
    gap: 4%;
    flex: 1;
}
.technology-group ul{
    padding-left: 3.5%;
}
.technology-group h5{
    font-size: clamp(5px, 1.3vw, 64px);
}
.internship-presentation{
    display: flex;
    flex: 1;
    justify-content: center;
}
.internship-presentation img{
    height: auto;
    width: 70%;
    border: 5px solid black;
}

/*Projects Page*/
.project-container{
    margin: 1% 4%;
    padding: 1%;
    display: none;
    background-color: #f0ebd7;
    color: #605434;
    gap: 1%;
    border-radius: 12px;

    /* Grid */
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    pointer-events: none;

    transition:
        opacity 0.3s ease,
        transform 0.3s ease;  
}

.project-container.active {
    display: grid;

    opacity: 1;
    visibility: visible;
    transform: translateY(0);

    pointer-events: auto;
}

.project-content{
    background-color: white;
    padding: 1%;
    border: 2px solid black;
    border-radius: 10px;
}
.project-metadata h3{
    font-size: clamp(18px, 2vw, 128px);
}
.project-metadata p{
    font-size: clamp(18px, 1.3vw, 128px);
}
.project-deliverables a{
    font-size: clamp(18px, 1.5vw, 128px);
}
.project-image{
    padding: 2% 0%;
}
.project-image img{
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    display: block;
}